#------------------------------------------------------------------------------
#
# Git ignore file for CANHub
#
#------------------------------------------------------------------------------


build
CMakeLists.txt.*
doc/html
doc/doxygen.log


#---fin------------------------------------------------------------------------
