#------------------------------------------------------------------------------
#
# Git ignore file for CANHub
#
#------------------------------------------------------------------------------

build
CMakeLists.txt.*

#---fin------------------------------------------------------------------------
