#------------------------------------------------------------------------------
#
# Git ignore file for canserver
#
#------------------------------------------------------------------------------

build
CMakeLists.txt.*

#---fin------------------------------------------------------------------------
